:root {
    --primary-light: #8abdff;
    --primary: #6c7790;
    --primary-P:#333333;
    --primary-sinbol:#6c7790;
    --white: #FFFFFF;
    --greyLight-0: #e4ebf7;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
    --greyDark-0: #535969;
    --greyDark-1: #464b58;
  }